{% extends 'common/base.html' %}
{% from 'common/macro.html' import pagination_show %}
{% block title %}首页{% endblock %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
    {% for p in posts %}
        <hr />
    <div class="media">
  <div class="media-left">
    <a href="#">
      <img style="width: 64px; height: 64px" class="media-object" src="{{ url_for('static', filename='upload/'+p.user.icon) }}" alt="icon">
    </a>
  </div>
  <div class="media-body">
      <div style="float: right">{{ moment(p.timestamp).fromNow() }}</div>
    <h4 class="media-heading"><a href="{{ url_for('main.post_list', name=p.user.username) }}">{{ p.user.username }}</a></h4>
<a href="{{ url_for('main.comment', post_id=p.id, post_content=p.content) }}">{{ p.content }}</a>

  </div>
</div>
    {% endfor %}
    {{ pagination_show(pagination, 'main.index') }}

{% endblock %}
